<div class="main_bdy_container" ng-controller="CompetitionController">
    <!--  Main Title starts -->
    <div class="main_bdy_top_sticky_nav">
        <div class="main_title">
            <h1 title="Reporting" class="main_title">reporting</h1><span> competition</span>
        </div>
        <!--  Main Title end -->
        <!--main top filter start-->

        <div ng-controller="PerformanceFilterController">
            <performance-filter
                    filter-parameters="filter_parameters"
                    performance-filter="performance_filter"
                    theme-list="theme_list"
                    purchase-cycle-list="purchase_cycle_list"
                    priorities-list="priorities_list"
                    display-count="table_default_display_count"
                    table-display-counts="table_display_counts"
                    sort-by="sort_by"
                    sort-elements = "sort_elements"
                    search-query="search_query"
                    download-api-urls="download_api_urls"
                    api-data-list="competition_values"
                    api-callback="get_competition(sort_by, search_query, limit, offset)"
                    page-source="'competition'"
                    analytics-category="performance:competition-keyword:competition-list:filter"
                    analytics-label="alps:{{ tenant_code }}"
                    ></performance-filter>
        </div>
        <div ng-include src="layout.filterTop"></div>
        <!--main top filter end-->
    </div>
    <div>
        <!--keyword Performance start-->
        <div class="mid_container competitionPerformance">
            <div class="top_title">
                <h2>Competition</h2>
                <div class="fa-info-icon bottom main-icon">
                    <div class="tool_tip"><p>{{ performanceSettings.messages.info.competition}}<i
                            class="pointer"></i></p></div>
                </div>
                <!--<div class="download_col nextoBtm">
                    <div class="download_button fa-info-icon bottom">
                        <div class="tool_tip">
                            <p>
                                <a target="_self" ng-click="competitorCompetitionDownload()" href="javascript:void(0)">
                                    Download Report(.csv)
                                </a>
                                <i class="pointer"></i>
                            </p>
                        </div>
                        <div class="clearBoth"></div>
                    </div>
                </div>-->
                <div class="pull-right mainButton keybttn back">
                    <a href="/performance/{{ project_id }}/competitiontheme?{{ filter_parameters.url_endpoint }}"
                       class="btn btn-primary btn-large view_all_btn" title="Compare Competition across Themes"
                       analytics-on="click"
                       analytics-event="competition-theme-navigate" analytics-category="performance:competition-keyword"
                       analytics-label="alps:{{ tenant_code }}:performance:competition-keyword:competition-theme-navigate:navigate">Compare
                        Competition Across Themes<span class="glyphicon"></span></a>
                </div>

                <div class="clearleft clearboth"></div>
            </div>

            <div class="sticky">
                <div class="main_tableHead main_detailsHead">
                    <div class="col_1">
                        <span>Domain</span>
                        <div class="fa-info-icon bottom">
                            <div class="tool_tip"><p>{{ performanceSettings.messages.info.competition_domain}}<i
                                    class="pointer"></i></p></div>
                        </div>
                    </div>
                    <div class="col_2"><span>Non-Branded Share of Search</span>
                        <div class="fa-info-icon bottom">
                            <div class="tool_tip"><p>{{ performanceSettings.messages.info.competition_Non_brandedShare}}<i class="pointer"></i>
                            </p></div>
                        </div>
                    </div>
                    <div class="col_2 comp_graph"><span>Non-Branded Rank Distribution</span>

                        <div class="fa-info-icon bottom">
                            <div class="tool_tip"><p>{{ performanceSettings.messages.info.competition_Non_brandedRank}}<i
                                    class="pointer"></i></p></div>
                        </div>
                    </div>
                    <div class="clearleft"></div>
                </div>

                <div class="main_table main_detailsHeadTab last">
                    <div class="col_1">
                        <div class="v_alignCenter">
                            <div class="my_domain_icon"></div><h3>{{ competition_values.data[0].alias_name | capitalizeFirstLetter }}</h3>
                        </div>
                    </div>
                    <div class="col_2 non_brand_search">
                        <div class="v_alignCenter">
                            <h6>
                        {{ competition_values.data[0].share_of_search | changetodash | formatNumber:2 }}{{(competition_values.data[0].share_of_search == '' || competition_values.data[0].share_of_search == 'NA' || competition_values.data[0].share_of_search == null)?'':'%'}}<i
                            ng-class="{true:'green', false:'red', '': 'gray'}[(competition_values.data[0].share_of_search_mom_percentage == 'NA' || (competition_values.data[0].share_of_search_mom_percentage | formatNumber) == 0)?'': competition_values.data[0].share_of_search_mom_percentage > 0 ]"><span>{{(competition_values.data[0].share_of_search_mom_percentage>0)?'+':''}}</span><span>{{(competition_values.data[0].share_of_search_mom_percentage == null ? '--' : competition_values.data[0].share_of_search_mom_percentage | changetodash | formatNumber:2)}}</span></i>
                    </h6>

                        <p>Search Volume:
                            <span class="search_vol_comp">{{(competition_values.data[0].search_volume == null ? '--': competition_values.data[0].search_volume | changetodash | formatNumber )}}</span>
                        </p></div>
                    </div>
                    <div class="col_2 non_brand_graph">
                        <div class="v_alignCenter">
                        <div ng-show="charts[0]" id="container0">
                            <chart value='charts[0]' chart-obj='chartObj'
                                   ng-if="!(competition_value.data[0] == 'null')"></chart>
                        </div>
                        <div class="competitionPerformance_b_nodata" ng-hide="charts[0]"></div>
                        <div id="messages">
                            <ul></ul>
                        </div>
                    </div>
                    <div class="clearleft"></div>
                    </div>
                </div>
            </div>
            <!--table keyword performance starts-->
            <div class="main_table  {{ (competition_values.data.length == $index+1)?'last':'' }}"
                 ng-repeat="competitior_data in competition_values.data" ng-if="$index >= 1" ng-hide="competitior_data.alias_name == '__me__'">
                <div class="col_1" ng-hide="competitior_data.alias_name == '__me__'">
                    <div class="v_alignCenter">
                        <h3>{{ competitior_data.alias_name | capitalizeFirstLetter }}</h3>
                    </div>
                </div>
                <div class="col_2"ng-hide="competitior_data.alias_name == '__me__'">
                    <div class="v_alignCenter"><h6>
                    {{ competitior_data.share_of_search | changetodash | formatNumber:1 }}{{(competitior_data.share_of_search.share_of_search == '' || competitior_data.share_of_search == 'NA')?'':'%'}}
                    <i ng-class="{true:'green', false:'red', '': 'gray'}[((competitior_data.share_of_search_mom_percentage | formatNumber:1) == 0 || competitior_data.share_of_search_mom_percentage=='NA')? '' : (competitior_data.share_of_search_mom_percentage>0)]"><span>{{((competitior_data.share_of_search_mom_percentage | formatNumber:1)>0)?'+':''}}</span><span>{{ competitior_data.share_of_search_mom_percentage | changetodash | formatNumber:1 }}</span></i>
                </h6></div>
                </div>
                <div class="col_2 col_2_1" ng-hide="competitior_data.alias_name == '__me__'">
                    <div class="v_alignCenter">
                    <div ng-show="charts[$index]" id="container{{ $index }}">
                        <chart value='charts[$index]' chart-obj='chartObj'></chart>
                    </div>
                    <div class="competitionPerformance_nodata" ng-hide="charts[$index]"></div>
                    <div class="clearleft"></div>
                </div>
                </div>
            </div>

            <div class="empty" ng-show="(competition_values.data.length <= 1 && !no_data)">Add a competitor in the project setup to
                start comparing data.
            </div>
            <div class="empty" ng-show="load_data">Loading Data Please Wait ...
            </div>
            <div class="empty" ng-show="status_flag">{{responseMsg}}
            </div>


            <!--table keyword performance ends-->
            <!--pagination page starts-->

            <table-pagination display-count="table_default_display_count"
                              table-display-counts="table_display_counts"
                              api-data-list="competition_values"
                              sort-by="sort_by"
                              search-query="search_query"
                              api-callback="get_competition(sort_by, search_query, limit, offset)"
                              sort-by="sort_by" search-query="search_query"
                              analytics-category="performance:competition:competition-list:table-pagination"
                              analytics-label="alps:{{ tenant_code }}" ng-hide="!(competition_values.data.length > 1)">
            </table-pagination>


            <!--pagination page ends-->
            <!--table with all content starts-->

            <!--no data div Starts-->

            <!--no data div ends-->
        </div>
    </div>
    <!--keyword Performance ends-->
</div>



<!--<script>
    var stickyOffset = $('.sticky').offset().top;
    $(window).scroll(function(){
        var navHeight =  $('.sticky').height()+5;
        $('.tablePart').css({'margin-top':5});
        var sticky = $('.sticky'),
                scroll = $(window).scrollTop();
        if (scroll >= stickyOffset) {
            sticky.addClass('fixed');
            $('.sorting').css({'margin-top':navHeight});
        } else {
            sticky.removeClass('fixed');
        }
    });
</script>-->


<script>
    $(document).ready(function(){
        $(this).scrollTop(0);
    });
</script>
<!--
<script>
    $(window).scroll(function(){
        var sticky = $('.sticky'),
                scroll = $(window).scrollTop();

        if (scroll >= 122) sticky.addClass('fixed');
        else sticky.removeClass('fixed');


        sticky(); // on DOM READY
        $(window).scroll( sticky ); // ON SCROLL
    });
</script>-->

